.weekDays-selector input {
     display: none!important;
     white-space: nowrap;

  }
  
  .weekDays-selector input[type=checkbox] + label {
    display: inline-block;
    border-radius: 6px;
    margin-left: 5px;
    background: #999898;
    height: 40px;
    width: 100px;
    text-align: center;    
    line-height: 40px;
    text-align: center;
    cursor: pointer;
  }
  
  .weekDays-selector input[type=checkbox]:checked + label {
    background: #00bded;
    color: #ffffff;
  }

  
