.img-ambito {
    width: 180px!important;
    max-width: 100%!important;
    height: 140px!important;
}

.card-ambito {
    border-top-right-radius: 50px!important;
    box-shadow: -8px 7px 11px -2px rgba(0,0,0,0.75);
}
.card-header {
    border-top-right-radius: 50px!important;
}