$ruler: 16px;
$color-red: #AE1100;
$color-bg: #EBECF0;
$color-shadow: #BABECC;
$color-white: #FFF;

.segment {
    padding: $ruler*2 0;
    text-align: center;
}

label {
    display: block;
    margin-bottom: $ruler*1.5;
    width: 100%;
}

input[type="submit"]:active {
    background: #e5e5e5;
    box-shadow: inset 0px 0px 5px #474747b4!important;
    outline: none;
}

input:not([type="submit"]), textarea {
    margin-right: $ruler/2;
    box-shadow: inset 2px 2px 5px $color-shadow, inset -5px -5px 10px $color-white;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;

    &:focus {
        box-shadow: inset 2px 2px 5px $color-shadow, inset -5px -5px 10px $color-white!important;
    }
    &:hover {
        box-shadow: inset 2px 2px 5px $color-shadow, inset -5px -5px 10px $color-white!important;

    }
}
